* {
  box-sizing: border-box;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

h2, h3 {
  font-family: 'Libre Baskerville', serif;
  color: #222;
  letter-spacing: normal;
  border-bottom: 1px solid #aaa;
  padding-bottom: 1em;
}

h4 {
  font-family: 'Roboto', sans-serif;
  font-size: .9em;
}

body {
  background-color: #F6F7FB;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: .9em;
  color: #7f8c8d;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  color: #444;
}

.nav {
  list-style: none;
  display: flex;
  align-items: center;
}

.nav > * {
  padding-left: 7%;
}

.nav > h1 {
  font-size: 48px;
}

.nav > li {
  font-family: 'Roboto', sans-serif;
  color: #555;
}

.hero-img > img {
  width: 100%;
  height: 100%;
}
