* {
  box-sizing: border-box;
}

h2, h3 {
  font-family: 'Libre Baskerville', serif;
  color: #222;
  letter-spacing: normal;
  border-bottom: 1px solid #666;
  padding-bottom: 1em;
}

body {
  background-color: #F6F7FB;
}

p {
  font-family: 'Roboto', sans-serif;
  color: #9FA5AD;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  color: #444;
}
\
